<section class="maintainEyesight">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-14">
				<a href="javascript:;" class="navTrigger videoThumb" data-view="{{content.field_model_data_view.0 }}">
					<figure>
						<picture aria-label="Maintaining your eyesight is important to your independence.">
							<source src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" type="image/png">
							<img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{ content.field_image['#items'].alt}}">
						</picture>
					</figure>
				</a>
			</div>
			<div class="col-md-10">
				<h2 class="h2">{{content.field_content.0}}</h2>
			</div>
		</div>
	</div>
</section>
