<div class="card imgCard">
    <div class="imgTitle aboutImgHead aboutTab">
        {{ content.field_title.0 }}
    </div>
    <div class="capsuleTabs">
        <div class="scrollX tabOuter">
            <!-- Navigation Tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {% for item in content.field_paragraph['#items'] %}
                    {% set paragraph = item.entity %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {{ loop.first ? 'active' : '' }}" 
                                id="tab_{{ loop.index }}-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#tab_{{ loop.index }}" 
                                type="button" 
                                role="tab" 
                                aria-controls="tab_{{ loop.index }}" 
                                aria-selected="{{ loop.first ? 'true' : 'false' }}">
                            {{ paragraph.field_title.value }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Tab Content -->
        <div class="tab-content">
            {% for item in content.field_paragraph['#items'] %}
                {% set paragraph = item.entity %}
                <div class="tab-pane {{ loop.first ? 'active' : '' }}" 
                     id="tab_{{ loop.index }}" 
                     role="tabpanel" 
                     aria-labelledby="tab_{{ loop.index }}-tab">
                    <figure>
                        <div>{{ paragraph.field_content.value|raw }}</div>
                        <picture>
                            <source media="(max-width: 576px)" 
                                    srcset="{{ file_url(paragraph.field_svg_image_2.entity.uri.value) }}" 
                                    alt="{{ paragraph.field_svg_image_2.alt }}">
                            <source media="(min-width: 577px)" 
                                    srcset="{{ file_url(paragraph.field_svg_image.entity.uri.value) }}" 
                                    alt="{{ paragraph.field_svg_image.alt }}">
                            <img src="{{ file_url(paragraph.field_svg_image.entity.uri.value) }}" 
                                 alt="{{ paragraph.field_svg_image.alt }}">
                        </picture>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
