<div class="col-lg-8 col-md-12">
	<div class="card">
		<div class="cardHeader">
			<figure>
				<picture>
					<source media="{{ file_url(content.field_svg_image['#items'].entity.uri.value) }}">
					<source media="{{ file_url(content.field_svg_image_2['#items'].entity.uri.value) }}">
					<img src="{{ file_url(content.field_svg_image['#items'].entity.uri.value) }}" alt="{{ content.field_svg_image['#items'].alt }}">
				</picture>
			</figure>
		</div>
		<div class="cardFooter">
			<a href="{{content.field_url.0['#url']}}" target="_blank" class="btn btn-link rounded btn-primary stretched-link">
				<span>{{content.field_url.0['#title']}}</span>
				<i class="i i-see_more"></i>
			</a>
		</div>
	</div>
</div>