<div
	class="popup popupPageViewer popupHowQuicklyGa" id="popupHowQuicklyGa" data-modal="popupHowQuicklyGa" data-dismiss="true">
	<!-- <div class="popHeader">
	    </div> -->
	<div class="popContent">
		<section class="page howQuicklyGa">
			<div class="stick">
				<div class="eyebrowText">how quickly ga can progress</div>
				<button type="button" alt="close button" class="close" data-hide="popupHowQuicklyGa">
					<i class="i i-close_circle"></i>
				</button>
			</div>
			<div class="pageHeader">
				<h2 class="h2">
					Once GA takes hold,
					<mark>it can advance quickly</mark>
				</h2>
			</div>
			<div class="pageContent">
				<div class="subHead">
					In about 2.5 years, GA can spread to the part of your eye that affects your central vision
				</div>
				<div class="imgTitle aboutImgHead">
					See how GA can progress over time below.
				</div>
				<div class="capsuleTabs">
					<ul class="nav nav-tabs quicktab" id="progrsTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="tab_quickGa_diagnosis-tab" data-bs-toggle="tab" data-bs-target="#tab_quickGa_diagnosis" type="button" role="tab" aria-controls="tab_quickGa_diagnosis" aria-selected="true">Diagnosis</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="tab_quickGa_oneYear-tab" data-bs-toggle="tab" data-bs-target="#tab_quickGa_oneYear" type="button" role="tab" aria-controls="tab_quickGa_oneYear" aria-selected="false">1 Year*</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="tab_quickGa_twoHalfYear-tab" data-bs-toggle="tab" data-bs-target="#tab_quickGa_twoHalfYear" type="button" role="tab" aria-controls="tab_quickGa_twoHalfYear" aria-selected="false">2.5 Years*</button>
						</li>
					</ul>
					<div class="tab-content" id="progrsTabContent">

						<figure>
							<picture>
								<source media="(max-width:575px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/progress/diagnosis-sm.png" alt="framed pictures on a mantel with black spot blocking view">
								<source media="(min-width: 576px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/progress/diagnosis.png" alt="framed pictures on a mantel with black spot blocking view">
								<img src="{{site_base_url}}/themes/custom/iveric/images/ga/progress/diagnosis.png" alt="framed pictures on a mantel with black spot blocking view">
							</picture>
						</figure>

						<div class="tab-pane fade show active" id="tab_quickGa_diagnosis" role="tabpanel" aria-labelledby="tab_quickGa_diagnosis-tab">
							<figure>
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/progress/1.svg">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/progress/1.svg" alt="GA Progress">
								</picture>
								<!-- <figcaption>*Average time since diagnosis of GA. Speed of progression is different for every person.</figcaption> -->
							</figure>
						</div>
						<div class="tab-pane fade" id="tab_quickGa_oneYear" role="tabpanel" aria-labelledby="tab_quickGa_oneYear-tab">
							<figure>
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/progress/2.svg">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/progress/2.svg" alt="GA Progress 2">
								</picture>
								<!-- <figcaption>*Average time since diagnosis of GA. Speed of progression is different for every person.</figcaption> -->
							</figure>
						</div>
						<div class="tab-pane fade" id="tab_quickGa_twoHalfYear" role="tabpanel" aria-labelledby="tab_quickGa_twoHalfYear-tab">
							<figure>
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/progress/3.svg">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/progress/3.svg" alt="GA Progress 3">
								</picture>
								<!-- <figcaption>*Average time since diagnosis of GA. Speed of progression is different for every person.</figcaption> -->
							</figure>
						</div>
					</div>

				</div>
				<p class="quickNote">*Average time since diagnosis of GA. Speed of progression is different for every
					            person.</p>
				<div class="details quik-details">
					Vision loss from GA can interfere with your lifestyle and your independence. As GA advances, some
					            challenges
					            people may face include:
				</div>
				<div class="challenges">
					<div class="card challengeCard">
						<div class="cardheader">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/progress/difficulty_driving.svg" alt="difficulty_driving">
						</div>
						<div class="cardcontent">
							Difficulty driving
						</div>
					</div>
					<div class="card challengeCard">
						<div class="cardheader">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/progress/struggles_reading.svg" alt="difficulty_driving">
						</div>
						<div class="cardcontent">
							Struggles reading
						</div>
					</div>
					<div class="card challengeCard">
						<div class="cardheader">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/progress/hard_time_recognizing_faces.svg" alt="difficulty_driving">
						</div>
						<div class="cardcontent">
							Hard time recognizing faces
						</div>
					</div>
				</div>

			</div>
			<div class="pageFooter">
				<a href="javascript:;" class="card rippleCard linkCard navTrigger" data-view="popupHowGaCanAppear">
					<div class="cardHeader">
						<figure class="icon">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/animated/how_ga_can_appear.svg" alt="About GA">
						</figure>
					</div>
					<div class="cardContent">
						<h3>How GA Can Appear</h3>
					</div>
					<div class="cardFooter">
						<i class="i i-arrow_long_left"></i>
					</div>
				</a>
				<a href="javascript:;" class="card rippleCard linkCard navTrigger" data-view="popupConversation">
					<div class="cardHeader">
						<figure class="icon">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/animated/conversations_with_your_doctor.svg" alt="conversations_with_your_doctor">
						</figure>
					</div>
					<div class="cardContent">
						<h3>Conversations with your Doctor</h3>
					</div>
					<div class="cardFooter">
						<i class="i i-arrow_long_right"></i>
					</div>
				</a>
			</div>
		</section>
	</div>
</div>
