<div
	class="popup popupPageViewer popupHowGaCanAppear" id="popupHowGaCanAppear" data-modal="popupHowGaCanAppear" data-dismiss="true">
	<!-- <div class="popHeader">
	    </div> -->
	<div class="popContent">
		<section class="page howGaCanAppear">
			<div class="stick">
				<div class="eyebrowText">How ga can Appear</div>
				<button type="button" class="close" alt="close button" data-hide="popupHowGaCanAppear">
					<i class="i i-close_circle"></i>
				</button>
			</div>
			<div class="pageHeader">
				<h2 class="h2">
					You may have GA and&nbsp;<mark>not even realize&nbsp;it</mark>
				</h2>
			</div>
			<div class="pageContent">
				<div class="subHead">
					GA can start to develop with subtle symptoms, or even no symptoms at&nbsp;all
				</div>
				<div class="details">
					By the time vision loss becomes noticeable, GA may have already spread throughout the eye. Partner with your
					            doctor for regular eye exams and screening to see if your dry AMD is progressing to GA.
				</div>

				<div class="imgTitle imghead">
					Click on the icons below to explore the most common signs and symptoms*
				</div>
				<!-- <div class="imgTitle d-block d-md-none">Select a most common sign or symptom below to explore*</div> -->
				<div class="card cardTabSwitch">
					<div class="cardContent">
						<div class="tab-content" id="cardTabContent">
							<div class="tab-pane show active" id="tab_ga-nosymptoms_panel" role="tabpanel" aria-labelledby="tab_ga-nosymptoms" tabindex="0">
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/ga_no_symptom.png">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/ga_no_symptom.png" alt="GA No Symptom">
								</picture>
							</div>
							<div class="tab-pane" id="tab_ga-wavy_panel" role="tabpanel" aria-labelledby="tab_ga-wavy" tabindex="0">
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/straight_lines_img_2.png">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/straight_lines_img_2.png" alt="GA With Straight Lines">
								</picture>

							</div>
							<div class="tab-pane" id="tab_ga-washedout_panel" role="tabpanel" aria-labelledby="tab_ga-washedout" tabindex="0">
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/washed_out_img_3.png">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/washed_out_img_3.png" alt="GA Washed Out">
								</picture>
							</div>
							<div class="tab-pane" id="tab_ga-lowlight-visibility_panel" role="tabpanel" aria-labelledby="tab_ga-lowlight-visibility" tabindex="0">
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/difficulty_seeing_img_4.png">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/difficulty_seeing_img_4.png" alt="GA With Difficulty In Seeing">
								</picture>
							</div>
							<div class="tab-pane" id="tab_ga-blurriness_panel" role="tabpanel" aria-labelledby="tab_ga-blurriness" tabindex="0">
								<picture>
									<source media="(min-width: 0px)" srcset="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/blurriness_img_5.png">
									<img src="{{site_base_url}}/themes/custom/iveric/images/ga/can_appear/blurriness_img_5.png" alt="GA With Blurriness">
								</picture>
							</div>
						</div>
					</div>
					<div class="cardFooter">
						<ul class="nav nav-tabs sign" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="tab_ga-nosymptoms" data-bs-toggle="tab" data-bs-target="#tab_ga-nosymptoms_panel" type="button" role="tab" aria-controls="tab_ga-nosymptoms_panel" aria-selected="true">
									<figure class="ico">
										<span class="text">None</span>
									</figure>
									<span>No symptoms</span>
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tab_ga-washedout" data-bs-toggle="tab" data-bs-target="#tab_ga-washedout_panel" type="button" role="tab" aria-controls="tab_ga-washedout_panel" aria-selected="false">
									<figure class="ico">
										<img class="imgInactive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/washedout_colors.svg" alt="Washed-out colors">
										<img class="imgActive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/washedout_colors-active.svg" alt="Washed-out colors">
									</figure>
									<span>Washed-out colors</span>
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tab_ga-lowlight-visibility" data-bs-toggle="tab" data-bs-target="#tab_ga-lowlight-visibility_panel" type="button" role="tab" aria-controls="tab_ga-lowlight-visibility_panel" aria-selected="false">
									<figure class="ico">
										<img class="imgInactive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/lowlight.svg" alt="Difficulty seeing in low light or at night">
										<img class="imgActive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/lowlight_active.svg" alt="Difficulty seeing in low light or at night">
									</figure>
									<span>Difficulty seeing in low light or at night</span>
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tab_ga-wavy" data-bs-toggle="tab" data-bs-target="#tab_ga-wavy_panel" type="button" role="tab" aria-controls="tab_ga-wavy_panel" aria-selected="false">
									<figure class="ico">
										<img class="imgInactive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/wavylines.svg" alt="Straight lines that look wavy or crooked">
										<img class="imgActive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/wavylines-active.svg" alt="Straight lines that look wavy or crooked">
									</figure>
									<span>Straight lines that look wavy or crooked</span>
								</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link" id="tab_ga-blurriness" data-bs-toggle="tab" data-bs-target="#tab_ga-blurriness_panel" type="button" role="tab" aria-controls="tab_ga-blurriness_panel" aria-selected="false">
									<figure class="ico">
										<img class="imgInactive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/blurriness_blankspots.svg" alt="Blurriness or blank spots in the field of vision">
										<img class="imgActive" src="{{site_base_url}}/themes/custom/iveric/images/icons/symptoms/blurriness_blankspots-active.svg" alt="Blurriness or blank spots in the field of vision">
									</figure>
									<span>Blurriness or blank spots in the field of vision</span>
								</button>
							</li>
						</ul>
					</div>
				</div>
				<div class="footNote">
					*Image is for illustrative purposes and should not be taken as real medical advice. Talk to your doctor if
					            you are experiencing any or multiple of these symptoms.
				</div>

				<div class="card _primary _highlgt">
					<div class="cardContent">
						<h6 class="h6">
							Learn about an FDA-approved treatment for geographic atrophy that may be right for you.
						</h6>
					</div>
					<div class="cardFooter">
						<a class="btn btn-outline-light rounded navTrigger" href="https://izervay.com" target="_blank" data-external-site="true">
							<span>Discover a&nbsp;treatment</span>
							<i class="i i-arrow_forward"></i>
						</a>
					</div>
				</div>

			</div>
			<div class="pageFooter">
				<a href="javascript:;" class="card rippleCard linkCard navTrigger" data-view="popupAboutGA">
					<div class="cardHeader">
						<figure class="icon">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/animated/about_ga.svg" alt="About GA">
						</figure>
					</div>
					<div class="cardContent">
						<h3>About GA</h3>
					</div>
					<div class="cardFooter">
						<i class="i i-arrow_long_left"></i>
					</div>
				</a>
				<a href="javascript:;" class="card rippleCard linkCard navTrigger" data-view="popupHowQuicklyGa">
					<div class="cardHeader">
						<figure class="icon">
							<img src="{{site_base_url}}/themes/custom/iveric/images/icons/animated/how_quickly_ga_can_progress.svg" alt="About GA">
						</figure>
					</div>
					<div class="cardContent">
						<h3>How Quickly GA Can Progress</h3>
					</div>
					<div class="cardFooter">
						<i class="i i-arrow_long_right"></i>
					</div>
				</a>
			</div>
		</section>
	</div>
</div>
